In [1]:
#import packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

from library.sb_utils import save_file

In [2]:
#load in the raw data into dataframes
#both datasets are cumulative

us_vax_raw = pd.read_csv('data/us_state_vaccinations.csv', parse_dates=True)
us_cases_raw = pd.read_csv('data/us-states.csv', parse_dates=True)

In [3]:
#inspect the data

us_vax_raw.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

total_vaccinations: total vaccinations administered
total_distributed: total vaccine doses distributed
people_vaccinated: total number of people who have received at least one dose
share_doses_used: percentage of distributed doses that have been administered (total_vaccinations / total_distributed)

In [4]:
us_vax_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11073 entries, 0 to 11072
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 11073 non-null  object
 1   location                             11073 non-null  object
 2   total_vaccinations                   10738 non-null  float64
 3   total_distributed                    10563 non-null  float64
 4   people_vaccinated                    10551 non-null  float64
 5   people_fully_vaccinated_per_hundred  9944 non-null   float64
 6   total_vaccinations_per_hundred       10046 non-null  float64
 7   people_fully_vaccinated              10469 non-null  float64
 8   people_vaccinated_per_hundred        10021 non-null  float64
 9   distributed_per_hundred              10033 non-null  float64
 10  daily_vaccinations_raw               11008 non-null  float64
 11  daily_vaccinations                   11008 non-null  float64
 12  daily_vaccinations_per_million       10297 non-null  float64
 13  share_doses_used                     10563 non-null  float64
dtypes: float64(12), object(2)
memory usage: 1.2+ MB

In [5]:
us_cases_raw.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [6]:
#fips: regional code

In [7]:
us_cases_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26359 entries, 0 to 26358
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    26359 non-null  object
 1   state   26359 non-null  object
 2   fips    26359 non-null  int64
 3   cases   26359 non-null  int64
 4   deaths  26359 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.0+ MB

In [8]:
#exploring vaccination data based on state

us_vax_raw[us_vax_raw.location == 'New York State']

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
6800,2021-01-12,New York State,579532.0,1622100.0,543014.0,0.19,2.98,36422.0,2.79,8.34,NaN,NaN,NaN,0.357
6801,2021-01-13,New York State,632473.0,1796850.0,587865.0,0.23,3.25,44512.0,3.02,9.24,52941.00,52941.0,2721.0,0.352
6802,2021-01-14,New York State,688576.0,1872625.0,617596.0,NaN,3.54,NaN,3.17,9.63,56103.00,54522.0,2803.0,0.368
6803,2021-01-15,New York State,757466.0,1884325.0,671311.0,0.38,3.89,73523.0,3.45,9.69,68890.00,59311.0,3049.0,0.402
6804,2021-01-16,New York State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60713.25,59662.0,3067.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6965,2021-06-26,New York State,21537500.0,23897255.0,11585130.0,53.10,110.71,10329090.0,59.55,122.84,73720.00,55120.0,2833.0,0.901
6966,2021-06-27,New York State,21684298.0,23897255.0,11614860.0,53.70,111.47,10446957.0,59.71,122.84,146798.00,67482.0,3469.0,0.907
6967,2021-06-28,New York State,21697307.0,23897255.0,11622076.0,53.75,111.53,10455550.0,59.74,122.84,13009.00,61244.0,3148.0,0.908
6968,2021-06-29,New York State,21748390.0,23944495.0,11645927.0,53.89,111.80,10484346.0,59.87,123.09,51083.00,63896.0,3285.0,0.908
6969,2021-06-30,New York State,21790497.0,23946375.0,11669506.0,54.02,112.01,10508196.0,59.99,123.10,42107.00,63338.0,3256.0,0.910

In [9]:
#finding out how many unique locations are in each dataset

us_vax_raw.location.nunique()

65

In [10]:
us_cases_raw.state.nunique()

55

In [11]:
#finding the differences between the values in the two columns

np.setdiff1d(us_vax_raw.location.unique(), us_cases_raw.state.unique())

array(['American Samoa', 'Bureau of Prisons', 'Dept of Defense',
       'Federated States of Micronesia', 'Indian Health Svc',
       'Long Term Care', 'Marshall Islands', 'New York State',
       'Republic of Palau', 'United States', 'Veterans Health'],
      dtype=object)

In [12]:
np.setdiff1d(us_cases_raw.state.unique(), us_vax_raw.location.unique())

array(['New York'], dtype=object)

In [13]:
#replacing New York State with New York in the vaccination dataset for easier joining

us_vax_raw['location'].replace({'New York State': 'New York'}, inplace=True)

In [14]:
np.setdiff1d(us_vax_raw.location.unique(), us_cases_raw.state.unique())

array(['American Samoa', 'Bureau of Prisons', 'Dept of Defense',
       'Federated States of Micronesia', 'Indian Health Svc',
       'Long Term Care', 'Marshall Islands', 'Republic of Palau',
       'United States', 'Veterans Health'], dtype=object)

In [15]:
#drop rows with locations not found in the US cases dataset and reset the index

us_vax_raw.drop(us_vax_raw.loc[us_vax_raw['location'].isin(['American Samoa', 'Bureau of Prisons', 'Dept of Defense',
       'Federated States of Micronesia', 'Indian Health Svc',
       'Long Term Care', 'Marshall Islands', 'Republic of Palau',
       'United States', 'Veterans Health'])].index, inplace=True)
us_vax_raw.reset_index(drop=True, inplace=True)

In [16]:
us_vax_raw.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used'],
      dtype='object')

In [17]:
#dropping daily_vaccinations column because daily_vaccinations_raw already provides this info (unsure why the two are different values)

us_vax_raw.drop(columns='daily_vaccinations', inplace=True)

In [18]:
#fill in missing values for cumulative columns as previous value
#share_doses_used is a calculated field
#all filled values are grouped by the location

us_vax_raw[['total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred']] = us_vax_raw.groupby('location')[['total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred']].transform(lambda x: x.ffill())

us_vax_raw['share_doses_used'][us_vax_raw['share_doses_used'].isna()] = us_vax_raw['total_vaccinations'] / us_vax_raw['total_distributed']

<ipython-input-18-4a0fd8d2f205>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_vax_raw['share_doses_used'][us_vax_raw['share_doses_used'].isna()] = us_vax_raw['total_vaccinations'] / us_vax_raw['total_distributed']

In [19]:
us_vax_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9350 entries, 0 to 9349
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 9350 non-null   object
 1   location                             9350 non-null   object
 2   total_vaccinations                   9350 non-null   float64
 3   total_distributed                    9350 non-null   float64
 4   people_vaccinated                    9338 non-null   float64
 5   people_fully_vaccinated_per_hundred  9317 non-null   float64
 6   total_vaccinations_per_hundred       9350 non-null   float64
 7   people_fully_vaccinated              9317 non-null   float64
 8   people_vaccinated_per_hundred        9338 non-null   float64
 9   distributed_per_hundred              9350 non-null   float64
 10  daily_vaccinations_raw               9295 non-null   float64
 11  daily_vaccinations_per_million       9295 non-null   float64
 12  share_doses_used                     9350 non-null   float64
dtypes: float64(11), object(2)
memory usage: 949.7+ KB

In [20]:
#investigate remaining rows that contain null values

pd.set_option('display.max_rows', None)
us_vax_raw[us_vax_raw.isnull().any(axis=1)]

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,0.207000
170,2021-01-12,Alaska,35838.0,141600.0,22486.0,0.74,4.90,5400.0,3.07,19.36,NaN,NaN,0.253000
340,2021-01-12,Arizona,141355.0,563025.0,95141.0,0.11,1.94,8343.0,1.31,7.74,NaN,NaN,0.251000
510,2021-01-12,Arkansas,40879.0,274400.0,39357.0,0.00,1.35,8.0,1.30,9.09,NaN,NaN,0.149000
680,2021-01-12,California,816301.0,3286050.0,703540.0,0.25,2.07,100089.0,1.78,8.32,NaN,NaN,0.248000
850,2021-01-12,Colorado,224428.0,516750.0,187838.0,0.63,3.90,36425.0,3.26,8.97,NaN,NaN,0.434000
1020,2021-01-12,Connecticut,151395.0,250775.0,56350.0,0.12,4.25,4174.0,1.58,7.03,NaN,NaN,0.604000
1190,2021-01-12,Delaware,26410.0,88325.0,15911.0,0.29,2.71,2784.0,1.63,9.07,NaN,NaN,0.299000
1360,2021-01-12,District of Columbia,29812.0,62725.0,NaN,NaN,4.22,NaN,NaN,8.89,NaN,NaN,0.475000
1530,2021-01-12,Florida,633440.0,1676300.0,586741.0,0.19,2.95,41725.0,2.73,7.80,NaN,NaN,0.378000
1700,2021-01-12,Georgia,170571.0,960975.0,85110.0,0.07,1.61,7746.0,0.80,9.05,NaN,NaN,0.177000
1870,2021-01-12,Guam,3791.0,26500.0,401.0,NaN,2.29,NaN,0.24,15.99,NaN,NaN,0.143000
1871,2021-01-13,Guam,3791.0,34300.0,401.0,NaN,2.29,NaN,0.24,20.69,0.0,0.0,0.111000
1872,2021-01-14,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1873,2021-01-15,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1874,2021-01-16,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.110525
1875,2021-01-17,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.110525
1876,2021-01-18,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.110525
1877,2021-01-19,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1878,2021-01-20,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1879,2021-01-21,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1880,2021-01-22,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1881,2021-01-23,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1882,2021-01-24,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
1883,2021-01-25,Guam,3791.0,34300.0,3785.0,NaN,2.29,NaN,2.28,20.69,0.0,0.0,0.111000
2040,2021-01-12,Hawaii,33483.0,141750.0,NaN,NaN,2.36,NaN,NaN,10.01,NaN,NaN,0.236000
2041,2021-01-13,Hawaii,36605.0,154150.0,NaN,NaN,2.59,NaN,NaN,10.89,3122.0,2205.0,0.237000
2042,2021-01-14,Hawaii,47985.0,154150.0,NaN,NaN,3.39,NaN,NaN,10.89,11380.0,5121.0,0.311000
2210,2021-01-12,Idaho,35845.0,146750.0,31504.0,0.24,2.01,4308.0,1.76,8.21,NaN,NaN,0.244000
2380,2021-01-12,Illinois,347005.0,903100.0,284035.0,0.50,2.74,62757.0,2.24,7.13,NaN,NaN,0.384000
2550,2021-01-12,Indiana,191844.0,540475.0,114781.0,0.35,2.85,23546.0,1.70,8.03,NaN,NaN,0.355000
2720,2021-01-12,Iowa,98691.0,208875.0,91969.0,0.19,3.13,6099.0,2.91,6.62,NaN,NaN,0.472000
2890,2021-01-12,Kansas,78268.0,193175.0,53988.0,0.33,2.69,9577.0,1.85,6.63,NaN,NaN,0.405000
3060,2021-01-12,Kentucky,132114.0,329450.0,102517.0,0.14,2.96,6335.0,2.29,7.37,NaN,NaN,0.401000
3230,2021-01-12,Louisiana,142771.0,368300.0,117022.0,0.39,3.07,18314.0,2.52,7.92,NaN,NaN,0.388000
3400,2021-01-12,Maine,54945.0,132975.0,38045.0,0.34,4.09,4518.0,2.83,9.89,NaN,NaN,0.413000
3570,2021-01-12,Maryland,146231.0,552800.0,136576.0,0.11,2.42,6663.0,2.26,9.14,NaN,NaN,0.265000
3740,2021-01-12,Massachusetts,204082.0,476025.0,184984.0,0.28,2.96,19073.0,2.68,6.91,NaN,NaN,0.429000
3910,2021-01-12,Michigan,227685.0,768150.0,207786.0,0.19,2.28,19472.0,2.08,7.69,NaN,NaN,0.296000
4080,2021-01-12,Minnesota,162240.0,453200.0,152280.0,0.17,2.88,9798.0,2.70,8.04,NaN,NaN,0.358000
4250,2021-01-12,Mississippi,54544.0,212050.0,45733.0,0.16,1.83,4832.0,1.54,7.12,NaN,NaN,0.257000
4420,2021-01-12,Missouri,161784.0,485175.0,107939.0,0.36,2.64,22155.0,1.76,7.91,NaN,NaN,0.333000
4590,2021-01-12,Montana,42083.0,78350.0,30887.0,0.55,3.94,5843.0,2.89,7.33,NaN,NaN,0.537000
4760,2021-01-12,Nebraska,74439.0,177375.0,65924.0,0.44,3.85,8459.0,3.41,9.17,NaN,NaN,0.420000
4930,2021-01-12,Nevada,61653.0,207150.0,31320.0,0.28,2.00,8761.0,1.02,6.73,NaN,NaN,0.298000
5100,2021-01-12,New Hampshire,50613.0,122350.0,11615.0,0.00,3.72,5.0,0.85,9.00,NaN,NaN,0.414000
5270,2021-01-12,New Jersey,221045.0,654900.0,206737.0,0.16,2.49,14306.0,2.33,7.37,NaN,NaN,0.338000
5440,2021-01-12,New Mexico,78235.0,177075.0,43344.0,0.54,3.73,11335.0,2.07,8.44,NaN,NaN,0.442000
5610,2021-01-12,New York,579532.0,1622100.0,543014.0,0.19,2.98,36422.0,2.79,8.34,NaN,NaN,0.357000
5780,2021-01-12,North Carolina,211610.0,836450.0,189213.0,0.18,2.02,19293.0,1.80,7.98,NaN,NaN,0.253000
5950,2021-01-12,North Dakota,39479.0,53525.0,33648.0,0.76,5.18,5815.0,4.42,7.02,NaN,NaN,0.738000
6120,2021-01-12,Northern Mariana Islands,3722.0,18650.0,1094.0,0.58,6.54,331.0,1.92,32.79,NaN,NaN,0.200000
6290,2021-01-12,Ohio,311890.0,866050.0,311867.0,NaN,2.67,NaN,2.67,7.41,NaN,NaN,0.360000
6291,2021-01-13,Ohio,329318.0,957700.0,329295.0,NaN,2.82,NaN,2.82,8.19,17428.0,1491.0,0.344000
6292,2021-01-14,Ohio,348424.0,967450.0,338961.0,NaN,2.98,NaN,2.90,8.28,19106.0,1563.0,0.360000
6460,2021-01-12,Oklahoma,157843.0,381375.0,109045.0,0.44,3.99,17463.0,2.76,9.64,NaN,NaN,0.414000
6630,2021-01-12,Oregon,104610.0,321425.0,99594.0,0.11,2.48,4813.0,2.36,7.62,NaN,NaN,0.325000
6800,2021-01-12,Pennsylvania,341948.0,974725.0,266288.0,0.08,2.67,10591.0,2.08,7.61,NaN,NaN,0.351000
6970,2021-01-12,Puerto Rico,74559.0,277200.0,61486.0,0.24,2.33,7666.0,1.93,8.68,NaN,NaN,0.269000
7140,2021-01-12,Rhode Island,39568.0,80225.0,35385.0,0.39,3.74,4141.0,3.34,7.57,NaN,NaN,0.493000
7310,2021-01-12,South Carolina,81075.0,315950.0,77042.0,0.08,1.57,3954.0,1.50,6.14,NaN,NaN,0.257000
7480,2021-01-12,South Dakota,48698.0,83500.0,41322.0,0.83,5.50,7374.0,4.67,9.44,NaN,NaN,0.583000
7650,2021-01-12,Tennessee,251257.0,485800.0,143735.0,0.26,3.68,17914.0,2.10,7.11,NaN,NaN,0.517000
7820,2021-01-12,Texas,911461.0,1949125.0,809148.0,0.35,3.14,101317.0,2.79,6.72,NaN,NaN,0.468000
7990,2021-01-12,Utah,95225.0,256275.0,90613.0,0.14,2.97,4608.0,2.83,7.99,NaN,NaN,0.372000
8160,2021-01-12,Vermont,25757.0,64925.0,NaN,NaN,4.13,NaN,NaN,10.40,NaN,NaN,0.397000
8161,2021-01-13,Vermont,29571.0,69800.0,NaN,NaN,4.74,NaN,NaN,11.19,3814.0,6112.0,0.424000
8162,2021-01-14,Vermont,29571.0,69800.0,26603.0,NaN,4.74,NaN,4.26,11.19,0.0,3056.0,0.424000
8330,2021-01-12,Virgin Islands,880.0,9175.0,NaN,NaN,0.84,NaN,NaN,8.76,NaN,NaN,0.096000
8331,2021-01-13,Virgin Islands,1195.0,9575.0,NaN,NaN,1.14,NaN,NaN,9.15,315.0,3009.0,0.125000
8332,2021-01-14,Virgin Islands,1424.0,10750.0,1267.0,NaN,1.36,NaN,1.21,10.27,229.0,2598.0,0.132000
8500,2021-01-12,Virginia,190607.0,797150.0,NaN,NaN,2.23,NaN,NaN,9.34,NaN,NaN,0.239000
8501,2021-01-13,Virginia,217836.0,845900.0,NaN,NaN,2.55,NaN,NaN,9.91,27229.0,3190.0,0.258000
8502,2021-01-14,Virginia,217836.0,852725.0,192918.0,NaN,2.55,NaN,2.26,9.99,0.0,1595.0,0.255000
8670,2021-01-12,Washington,195567.0,567725.0,162105.0,0.23,2.57,17689.0,2.13,7.46,NaN,NaN,0.344000
8840,2021-01-12,West Virginia,103330.0,160975.0,NaN,NaN,5.77,NaN,NaN,8.98,NaN,NaN,0.642000
8841,2021-01-13,West Virginia,110709.0,160975.0,NaN,NaN,6.18,NaN,NaN,8.98,7379.0,4117.0,0.688000
8842,2021-01-14,West Virginia,118660.0,160975.0,99061.0,NaN,6.62,NaN,5.53,8.98,7951.0,4277.0,0.737000
9010,2021-01-12,Wisconsin,137253.0,429500.0,125895.0,0.19,2.36,11343.0,2.16,7.38,NaN,NaN,0.320000
9180,2021-01-12,Wyoming,16467.0,47800.0,13577.0,0.37,2.85,2116.0,2.35,8.26,NaN,NaN,0.344000

In [21]:
#backfill remaining null values with the first available data from that row, grouped by location
#Guam has a lot of missing data for January, but it is so small that backfilling won't affect overall data that much

us_vax_raw[['people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'people_fully_vaccinated','people_vaccinated_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations_per_million']] = us_vax_raw.groupby('location')[['people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'people_fully_vaccinated','people_vaccinated_per_hundred', 'daily_vaccinations_raw',
       'daily_vaccinations_per_million']].transform(lambda x: x.bfill())

In [22]:
#final inspection of vaccination data - no more null values

us_vax_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9350 entries, 0 to 9349
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 9350 non-null   object
 1   location                             9350 non-null   object
 2   total_vaccinations                   9350 non-null   float64
 3   total_distributed                    9350 non-null   float64
 4   people_vaccinated                    9350 non-null   float64
 5   people_fully_vaccinated_per_hundred  9350 non-null   float64
 6   total_vaccinations_per_hundred       9350 non-null   float64
 7   people_fully_vaccinated              9350 non-null   float64
 8   people_vaccinated_per_hundred        9350 non-null   float64
 9   distributed_per_hundred              9350 non-null   float64
 10  daily_vaccinations_raw               9350 non-null   float64
 11  daily_vaccinations_per_million       9350 non-null   float64
 12  share_doses_used                     9350 non-null   float64
dtypes: float64(11), object(2)
memory usage: 949.7+ KB

In [23]:
#rename vaccination 'location' column to 'state' for easier merging

us_vax_raw.rename(columns={'location': 'state'}, inplace=True)

In [24]:
#combine the two datasets on date and state columns

combined_data = pd.merge(us_vax_raw, us_cases_raw, how='right', on=['date', 'state'])

In [25]:
#convert the 'date' column to datetime object

combined_data['date'] = pd.to_datetime(combined_data['date'])

In [26]:
#inspect the combined dataset - vaccination data will not show until 2021-01-12 but we can use the cases data to build a trend before vaccines were rolled out

combined_data.head()

,date,state,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations_per_million,share_doses_used,fips,cases,deaths
0,2020-01-21,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,1,0
1,2020-01-22,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,1,0
2,2020-01-23,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,1,0
3,2020-01-24,Illinois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,1,0
4,2020-01-24,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,1,0

In [27]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26359 entries, 0 to 26358
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 26359 non-null  datetime64[ns]
 1   state                                26359 non-null  object
 2   total_vaccinations                   9020 non-null   float64
 3   total_distributed                    9020 non-null   float64
 4   people_vaccinated                    9020 non-null   float64
 5   people_fully_vaccinated_per_hundred  9020 non-null   float64
 6   total_vaccinations_per_hundred       9020 non-null   float64
 7   people_fully_vaccinated              9020 non-null   float64
 8   people_vaccinated_per_hundred        9020 non-null   float64
 9   distributed_per_hundred              9020 non-null   float64
 10  daily_vaccinations_raw               9020 non-null   float64
 11  daily_vaccinations_per_million       9020 non-null   float64
 12  share_doses_used                     9020 non-null   float64
 13  fips                                 26359 non-null  int64
 14  cases                                26359 non-null  int64
 15  deaths                               26359 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(3), object(1)
memory usage: 3.4+ MB

In [28]:
#add new column with number of new cases per day

combined_data['new_cases'] = combined_data.groupby('state').diff(periods=1).cases

In [29]:
#for new cases < 0, make number of new cases equal to new cases from previous day

for i, row in combined_data.iterrows():
    if row['new_cases'] < 0:
        state = row['state']
        today = row['date']
        day_before = today - datetime.timedelta(days=1)
        
        # find yesterday's cases
        new_cases = combined_data[(combined_data['state'] == state) & 
                              (combined_data['date'] == day_before)]['new_cases'].values

        # set today's cases equal to yesterday's
        combined_data.loc[(combined_data['state'] == state) & 
                      (combined_data['date'] == today), 'new_cases'] = new_cases

In [30]:
#check if there are still new_cases less than 0

combined_data[combined_data['new_cases'] < 0]

Empty DataFrame
Columns: [date, state, total_vaccinations, total_distributed, people_vaccinated, people_fully_vaccinated_per_hundred, total_vaccinations_per_hundred, people_fully_vaccinated, people_vaccinated_per_hundred, distributed_per_hundred, daily_vaccinations_raw, daily_vaccinations_per_million, share_doses_used, fips, cases, deaths, new_cases]
Index: []

In [31]:
#check which values in new_cases is null

combined_data[combined_data['new_cases'].isnull()]

,date,state,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations_per_million,share_doses_used,fips,cases,deaths,new_cases
0,2020-01-21,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,1,0,NaN
3,2020-01-24,Illinois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,1,0,NaN
5,2020-01-25,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1,0,NaN
8,2020-01-26,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1,0,NaN
35,2020-02-01,Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,1,0,NaN
57,2020-02-05,Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,1,0,NaN
98,2020-02-12,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,1,0,NaN
133,2020-02-17,Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,10,0,NaN
199,2020-02-25,Utah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,1,0,NaN
225,2020-02-28,Oregon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,1,0,NaN
242,2020-03-01,Florida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2,0,NaN
246,2020-03-01,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,1,0,NaN
248,2020-03-01,Rhode Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,2,0,NaN
256,2020-03-02,Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,2,0,NaN
260,2020-03-02,New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,1,0,NaN
277,2020-03-03,North Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,1,0,NaN
292,2020-03-04,New Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,1,0,NaN
303,2020-03-05,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2,0,NaN
307,2020-03-05,Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,3,0,NaN
310,2020-03-05,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,2,0,NaN
317,2020-03-05,Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,1,0,NaN
327,2020-03-06,Hawaii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,1,0,NaN
329,2020-03-06,Indiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1,0,NaN
330,2020-03-06,Kentucky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,1,0,NaN
333,2020-03-06,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,1,0,NaN
340,2020-03-06,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,0,NaN
342,2020-03-06,Pennsylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,2,0,NaN
344,2020-03-06,South Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,2,0,NaN
353,2020-03-07,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,1,0,NaN
359,2020-03-07,Kansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,1,0,NaN
364,2020-03-07,Missouri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,1,0,NaN
379,2020-03-07,Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,1,0,NaN
380,2020-03-07,Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,1,0,NaN
386,2020-03-08,Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1,0,NaN
393,2020-03-08,Iowa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,3,0,NaN
431,2020-03-09,Louisiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,1,0,NaN
442,2020-03-09,Ohio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,3,0,NaN
471,2020-03-10,Michigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,2,0,NaN
486,2020-03-10,South Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,5,1,NaN
495,2020-03-11,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1,0,NaN
499,2020-03-11,Delaware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1,0,NaN
514,2020-03-11,Mississippi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,1,0,NaN
520,2020-03-11,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,4,0,NaN
523,2020-03-11,North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,1,0,NaN
538,2020-03-11,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,1,0,NaN
539,2020-03-12,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,0,NaN
556,2020-03-12,Maine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1,0,NaN
586,2020-03-13,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,0,NaN
598,2020-03-13,Idaho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,1,0,NaN
612,2020-03-13,Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,4,0,NaN
625,2020-03-13,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,3,0,NaN
684,2020-03-14,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,1,0,NaN
700,2020-03-15,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,3,0,NaN
846,2020-03-17,West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,1,0,NaN
1425,2020-03-28,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,2,0,NaN

In [32]:
#make the first number of new_cases equal to total cases for that day (currently null)

for i, row in combined_data.iterrows():
    if pd.isnull(row['new_cases']):
        combined_data.loc[i, 'new_cases'] = combined_data.loc[i, 'cases']

In [33]:
#check that there are no more null values in new_cases

combined_data[combined_data['new_cases'].isnull()]

Empty DataFrame
Columns: [date, state, total_vaccinations, total_distributed, people_vaccinated, people_fully_vaccinated_per_hundred, total_vaccinations_per_hundred, people_fully_vaccinated, people_vaccinated_per_hundred, distributed_per_hundred, daily_vaccinations_raw, daily_vaccinations_per_million, share_doses_used, fips, cases, deaths, new_cases]
Index: []

In [34]:
#convert new_cases to integer value

combined_data['new_cases'] = combined_data['new_cases'].apply(np.int64)

In [35]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26359 entries, 0 to 26358
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 26359 non-null  datetime64[ns]
 1   state                                26359 non-null  object
 2   total_vaccinations                   9020 non-null   float64
 3   total_distributed                    9020 non-null   float64
 4   people_vaccinated                    9020 non-null   float64
 5   people_fully_vaccinated_per_hundred  9020 non-null   float64
 6   total_vaccinations_per_hundred       9020 non-null   float64
 7   people_fully_vaccinated              9020 non-null   float64
 8   people_vaccinated_per_hundred        9020 non-null   float64
 9   distributed_per_hundred              9020 non-null   float64
 10  daily_vaccinations_raw               9020 non-null   float64
 11  daily_vaccinations_per_million       9020 non-null   float64
 12  share_doses_used                     9020 non-null   float64
 13  fips                                 26359 non-null  int64
 14  cases                                26359 non-null  int64
 15  deaths                               26359 non-null  int64
 16  new_cases                            26359 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(4), object(1)
memory usage: 4.9+ MB

In [36]:
#recalculate total cases equal to new cases + previous total cases

combined_data['total_cases'] = combined_data.groupby('state')['new_cases'].cumsum()

In [37]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26359 entries, 0 to 26358
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 26359 non-null  datetime64[ns]
 1   state                                26359 non-null  object
 2   total_vaccinations                   9020 non-null   float64
 3   total_distributed                    9020 non-null   float64
 4   people_vaccinated                    9020 non-null   float64
 5   people_fully_vaccinated_per_hundred  9020 non-null   float64
 6   total_vaccinations_per_hundred       9020 non-null   float64
 7   people_fully_vaccinated              9020 non-null   float64
 8   people_vaccinated_per_hundred        9020 non-null   float64
 9   distributed_per_hundred              9020 non-null   float64
 10  daily_vaccinations_raw               9020 non-null   float64
 11  daily_vaccinations_per_million       9020 non-null   float64
 12  share_doses_used                     9020 non-null   float64
 13  fips                                 26359 non-null  int64
 14  cases                                26359 non-null  int64
 15  deaths                               26359 non-null  int64
 16  new_cases                            26359 non-null  int64
 17  total_cases                          26359 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(5), object(1)
memory usage: 5.1+ MB

In [38]:
#drop the original cases column

combined_data.drop('cases', axis=1, inplace=True)

In [39]:
#create a dictionary with population of each state equal to people_vaccinated / people_vaccinated_per_hundred * 100
#used arbitrary date 06-01-2021

state_list = combined_data['state'].unique()
pop_dict = {}

for state in state_list:
    pop_dict[state] = (combined_data.loc[(combined_data['state'] == state) & 
                                        (combined_data['date'] == '06-01-2021'), 'people_vaccinated'].values //
                                        combined_data.loc[(combined_data['state'] == state) & 
                                        (combined_data['date'] == '06-01-2021'), 'people_vaccinated_per_hundred'].values * 100)[0].astype(np.int64)

In [40]:
#iterate through dataframe and assign the population of respective state to each row

for i, row in combined_data.iterrows():
    state = row['state']
    combined_data.loc[i, 'population'] = pop_dict[state]

In [41]:
#convert population column to int

combined_data['population'] = combined_data['population'].apply(np.int64)

In [42]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26359 entries, 0 to 26358
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 26359 non-null  datetime64[ns]
 1   state                                26359 non-null  object
 2   total_vaccinations                   9020 non-null   float64
 3   total_distributed                    9020 non-null   float64
 4   people_vaccinated                    9020 non-null   float64
 5   people_fully_vaccinated_per_hundred  9020 non-null   float64
 6   total_vaccinations_per_hundred       9020 non-null   float64
 7   people_fully_vaccinated              9020 non-null   float64
 8   people_vaccinated_per_hundred        9020 non-null   float64
 9   distributed_per_hundred              9020 non-null   float64
 10  daily_vaccinations_raw               9020 non-null   float64
 11  daily_vaccinations_per_million       9020 non-null   float64
 12  share_doses_used                     9020 non-null   float64
 13  fips                                 26359 non-null  int64
 14  deaths                               26359 non-null  int64
 15  new_cases                            26359 non-null  int64
 16  total_cases                          26359 non-null  int64
 17  population                           26359 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(5), object(1)
memory usage: 5.1+ MB

In [43]:
datapath = './data'
save_file(combined_data, 'combined_data_cleaned.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "./data\combined_data_cleaned.csv"